<div class="container">
    <div class="headline-closeBtn">
        <h1 class="title-dialog" mat-dialog-title>Imprint and Data Protection</h1>
        <mat-icon style="cursor: pointer" (click)="closeImprint()">close</mat-icon>
    </div>
    <div mat-dialog-content>
        <div>
            <h2>Imprint</h2>

            <h3>Information according to § 5 TMG</h3>
            <ul class="contact-info">
                <li>Thomas Wagner</li>
                <li>Noerdlinger Str. 15</li>
                <li>91550 Dinkelsbuehl, Germany</li>
            </ul>

            <h3>Contact</h3>
            <ul class="contact-info">
                <li>Phone: 09081 804 202</li>
                <li>E-Mail: t-wagner@web.de</li>
            </ul>
            <p>Source: <a
                    href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
            </p>


            <h2 class="data-protection">Data Protection</h2>

            <h3 class="person-responsible">Person responsible for the content</h3>
            <ul class="contact-info">
                <li>Thomas Wagner</li>
                <li>Noerdlinger Str. 15</li>
                <li>91550 Dinkelsbuehl, Germany</li>
            </ul>

            <h3>Overview of the processing operations</h3>

            <span>The following overview summarises the types of data processed and the purposes of their processing and
                refers to the data subjects.</span>

            <h3>Types of processed data</h3>

            <ul>
                <li>Contact details.</li>
                <li>Content data.</li>
                <li>Usage data.</li>
                <li>Meta, communication and procedural data.</li>
            </ul>

            <h3>Categories of persons concerned</h3>

            <ul>
                <li> Communication partners.</li>
                <li> Users.</li>
            </ul>

            <h3>Purposes of the processing</h3>

            <ul>
                <li> Contact requests and communication.
                </li>
                <li>Security measures.</li>
                <li>Managing and responding to enquiries.</li>
                <li>Feedback.</li>
                <li>Provision of our online services and user experience.</li>
                <li>Information technology infrastructure.</li>
            </ul>

            <h3>Relevant legal basis</h3>

            <span>Below you will find an overview of the legal basis of the GDPR on the basis of which we process
                personal
                data. Please note that in addition to the provisions of the GDPR, national data protection regulations
                may
                apply in your or our country of residence or domicile. Should more specific legal bases be relevant in
                individual cases, we will inform you of these in the data protection declaration.</span>

            <ul>
                <li>Legitimate interests (Art. 6 para. 1 p. 1 lit. f) DSGVO) - Processing is necessary to protect the
                    legitimate
                    interests of the controller or a third party, unless such interests are overridden by the interests
                    or
                    fundamental rights and freedoms of the data subject which require the protection of personal data.
                </li>
            </ul>

            <span>
                In addition to the data protection regulations of the GDPR, national regulations on data protection
                apply in
                Germany. These include, in particular, the Act on Protection against Misuse of Personal Data in Data
                Processing (Federal Data Protection Act - BDSG). In particular, the BDSG contains special regulations on
                the
                right to information, the right to erasure, the right to object, the processing of special categories of
                personal data, the processing for other purposes and the transmission and automated decision-making in
                individual cases, including profiling. Furthermore, it regulates data processing for purposes of the
                employment relationship (Section 26 BDSG), in particular with regard to the establishment,
                implementation or
                termination of employment relationships as well as the consent of employees. Furthermore, data
                protection
                laws of the individual federal states may apply.
            </span>

            <h3>Security measures</h3>

            <span>We take appropriate technical and organisational measures in accordance with the law, taking into
                account
                the
                state of the art, the costs of implementation and the nature, scope, circumstances and purposes of the
                processing, as well as the different probabilities of occurrence and the level of threat to the rights
                and
                freedoms of natural persons, in order to ensure a level of protection appropriate to the risk.

                The measures include, in particular, ensuring the confidentiality, integrity and availability of data by
                controlling physical and electronic access to the data as well as access to, input of, disclosure of,
                assurance
                of availability of and segregation of the data. We also have procedures in place to ensure the exercise
                of
                data
                subjects' rights, the deletion of data and responses to data compromise. Furthermore, we already take
                the
                protection of personal data into account in the development or selection of hardware, software and
                procedures in
                accordance with the principle of data protection, through technology design and through data
                protection-friendly
                default settings.</span>

            <h3>Transmission of personal data</h3>

            <span>In the course of our processing of personal data, the data may be transferred to or disclosed to other
                bodies,
                companies, legally independent organisational units or persons. The recipients of this data may include,
                for
                example, service providers commissioned with IT tasks or providers of services and content that are
                integrated
                into a website. In such cases, we observe the legal requirements and, in particular, conclude
                corresponding
                contracts or agreements that serve to protect your data with the recipients of your data.</span>

            <h3> Data processing in third countries</h3>

            <span>If we process data in a third country (i.e., outside the European Union (EU), the European Economic
                Area
                (EEA))
                or the processing takes place in the context of the use of third-party services or the disclosure or
                transfer of
                data to other persons, bodies or companies, this is only done in accordance with the legal requirements.

                Subject to express consent or contractually or legally required transfer, we only process or have data
                processed
                in third countries with a recognised level of data protection, contractual obligation through so-called
                standard
                protection clauses of the EU Commission, in the presence of certifications or binding internal data
                protection
                regulations (Art. 44 to 49 DSGVO, information page of the EU Commission:
                https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_de).</span>

            <h3>Deletion of data</h3>

            <span>The data processed by us will be deleted in accordance with the legal requirements as soon as their
                consents
                permitted for processing are revoked or other permissions cease to apply (e.g. if the purpose for
                processing
                this data has ceased to apply or it is not required for the purpose). If the data are not deleted
                because
                they
                are required for other and legally permissible purposes, their processing is limited to these purposes.
                I.e.
                the
                data is blocked and not processed for other purposes. This applies, for example, to data that must be
                retained
                for reasons of commercial or tax law or whose storage is necessary for the assertion, exercise or
                defence of
                legal claims or for the protection of the rights of another natural or legal person.

                Our data protection notices may also contain further details on the retention and deletion of data which
                have
                priority for the respective processing operations.</span>

            <h3>Use of cookies</h3>

            <p><span>Cookies are small text files or other memory notes that store information on end devices and read
                    information
                    from the end devices. For example, to save the login status in a user account, the contents of a
                    shopping basket
                    in an e-shop, the contents called up or the functions used in an online offer. Cookies can further
                    be
                    used for
                    various purposes, e.g. for purposes of functionality, security and comfort of online offers as well
                    as
                    the
                    creation of analyses of visitor flows.</span><br></p>

            <p><b>Notes on consent:</b> We use cookies in accordance with legal requirements. We therefore obtain prior
                consent from
                users, except where this is not required by law. In particular, consent is not required if the storage
                and
                reading of information, including cookies, is absolutely necessary to provide a telemedia service (i.e.
                our
                online offer) expressly requested by the user. The revocable consent is clearly communicated to the
                users
                and
                contains the information on the respective cookie use.<br></p>

            <p><span><b>Notes on legal bases under data protection law:</b> The legal basis under data protection law on
                    which we process
                    users' personal data using cookies depends on whether we ask users for consent. If users consent,
                    the
                    legal
                    basis for processing their data is their declared consent. Otherwise, the data processed using
                    cookies
                    is
                    processed on the basis of our legitimate interests (e.g. in the business operation of our online
                    offer
                    and
                    improvement of its usability) or, if this is done in the context of the performance of our
                    contractual
                    obligations, if the use of cookies is necessary to fulfil our contractual obligations. We explain
                    the
                    purposes
                    for which we process the cookies in the course of this data protection declaration or as part of our
                    consent and
                    processing procedures.</span></p>

            <p><span>Storage duration: With regard to the storage duration, the following types of cookies are
                    distinguished:</span></p>

            <ul>
                <li>Temporary cookies (also: session cookies): Temporary cookies are deleted at the latest after a user
                    has
                    left an
                    online offer and closed his end device (e.g. browser or mobile application).</li>
                <li>Permanent cookies: Permanent cookies remain stored even after the end device is closed. For example,
                    the
                    login
                    status can be saved or preferred content can be displayed directly when the user visits a website
                    again.
                    Likewise, user data collected with the help of cookies can be used to measure reach. Unless we
                    provide
                    users
                    with explicit information about the type and storage duration of cookies (e.g. when obtaining
                    consent),
                    users
                    should assume that cookies are permanent and that they can be stored for up to two years.</li>
            </ul>

            <p><span>General information on revocation and objection (opt-out): Users can revoke the consent they have
                    given
                    at any
                    time and also file an objection to processing in accordance with the legal requirements in Art. 21
                    DSGVO. Users
                    can also declare their objection via their browser settings, e.g. by deactivating the use of cookies
                    (although
                    this may also limit the functionality of our online services). An objection to the use of cookies
                    for
                    online
                    marketing purposes can also be declared via the websites https://optout.aboutads.info and
                    https://www.youronlinechoices.com/.</span></p>

            <h3>Further information on processing operations, procedures and services:</h3>

            <ul>
                <li>Processing of cookie data based on consent: We use a cookie consent management procedure, in the
                    context
                    of
                    which the consent of users to the use of cookies, or the processing and providers mentioned in the
                    cookie
                    consent management procedure, can be obtained and managed and revoked by users. The declaration of
                    consent is
                    stored in order not to have to repeat the request and to be able to prove the consent in accordance
                    with
                    the
                    legal obligation. The storage can take place on the server side and/or in a cookie (so-called opt-in
                    cookie or
                    with the help of comparable technologies) in order to be able to assign the consent to a user or
                    their
                    device.
                    Subject to individual information on the providers of cookie management services, the following
                    information
                    applies: The duration of the storage of consent can be up to two years. A pseudonymous user
                    identifier
                    is
                    created and stored with the time of consent, information on the scope of consent (e.g. which
                    categories
                    of
                    cookies and/or service providers) and the browser, system and end device used.</li>
            </ul>

            <h3>Provision of the online services and web hosting</h3>

            <p>We process users' data in order to provide them with our online services. For this purpose, we process
                the
                user's IP address, which is necessary to transmit the content and functions of our online services to
                the
                user's
                browser or terminal device.</p>

            <ul>
                <li>Types of data processed: Usage data (e.g. web pages visited, interest in content, access times);
                    meta,
                    communication and procedural data (e.g. IP addresses, time data, identification numbers, consent
                    status).</li>
                <li>Data subjects: Users (e.g. website visitors, users of online services).</li>
                <li>Purposes of processing: provision of our online offer and user-friendliness; information technology
                    infrastructure (operation and provision of information systems and technical devices (computers,
                    servers,
                    etc.).); security measures.</li>
                <li>Legal basis: Legitimate interests (Art. 6 para. 1 p. 1 lit. f) DSGVO).</li>
            </ul>

            <h3>Further information on processing procedures, methods and services:</h3>

            <ul>
                <li>Collection of access data and log files: Access to our online offer is logged in the form of
                    so-called
                    "server
                    log files". The server log files may include the address and name of the web pages and files
                    accessed,
                    the date
                    and time of access, the volume of data transferred, notification of successful access, browser type
                    and
                    version,
                    the user's operating system, referrer URL (the previously visited page) and, as a rule, IP addresses
                    and
                    the
                    requesting provider. The server log files may be used on the one hand for security purposes, e.g. to
                    avoid
                    overloading the servers (especially in the case of abusive attacks, so-called DDoS attacks) and on
                    the
                    other
                    hand to ensure the utilisation of the servers and their stability; Legal basis: Legitimate interests
                    (Art. 6
                    para. 1 p. 1 lit. f) DSGVO); Deletion of data: Log file information is stored for a maximum of 30
                    days
                    and then
                    deleted or anonymised. Data whose further storage is necessary for evidentiary purposes is exempt
                    from
                    deletion
                    until the final clarification of the respective incident.</li>
            </ul>

            <h3>Contact and enquiry management</h3>

            <p>When contacting us (e.g. by post, contact form, email, telephone or via social media) as well as in the
                context
                of existing user and business relationships, the information of the inquiring persons is processed to
                the
                extent
                necessary to respond to the contact requests and any measures requested.</p>

            <ul>
                <li>Types of data processed: contact data (e.g. e-mail, telephone numbers); content data (e.g. entries
                    in
                    online
                    forms); usage data (e.g. websites visited, interest in content, access times); meta, communication
                    and
                    procedural data (e.g. IP addresses, time data, identification numbers, consent status).</li>
                <li>Data subjects: Communication partners.</li>
                <li>Purposes of processing: contact requests and communication; managing and responding to requests;
                    feedback (e.g.
                    collecting feedback via online form); providing our online offer and user experience.</li>
                <li>Legal basis: Legitimate interests (Art. 6 para. 1 p. 1 lit. f) DSGVO).</li>
            </ul>

            <h3>Amendment and updating of the data protection declaration</h3>

            <p>We ask you to regularly inform yourself about the content of our data protection declaration. We adapt
                the
                data protection declaration as soon as the changes in the data processing carried out by us make this
                necessary. We will inform you as soon as the changes require an act of cooperation on your part (e.g.
                consent) or other individual notification.</p>

            <p>If we provide addresses and contact information of companies and organisations in this data protection
                declaration, please note that the addresses may change over time and please check the information before
                contacting us.</p>

            <h3>Rights of the data subjects</h3>

            <p>As a data subject, you have various rights under the GDPR, which arise in particular from Art. 15 to 21
                GDPR:
            </p>

            <ul>

                <li>Right to object: you have the right to object at any time, on grounds relating to your particular
                    situation, to
                    the processing of personal data concerning you which is carried out on the basis of Art. 6(1)(e) or
                    (f)
                    DSGVO;
                    this also applies to profiling based on these provisions. If the personal data concerning you are
                    processed for
                    the purpose of direct marketing, you have the right to object at any time to the processing of
                    personal
                    data
                    concerning you for the purpose of such marketing; this also applies to profiling insofar as it is
                    related to
                    such direct marketing.</li>

                <li>Right of revocation for consents: You have the right to revoke any consent you have given at any
                    time.
                </li>
                <li>Right of access: You have the right to obtain confirmation as to whether data relating to you is
                    being
                    processed and to obtain information about this data and further information and a copy of the data
                    in
                    accordance with the law.</li>
                <li>Right to rectification: You have the right, in accordance with the law, to request that data
                    concerning
                    you
                    be completed or that inaccurate data concerning you be rectified.</li>
                <li>Right to erasure and restriction of processing: You have the right, in accordance with the law, to
                    request
                    that data concerning you be erased without delay or, alternatively, to request restriction of the
                    processing
                    of the data in accordance with the law.</li>
                <li>Right to data portability: You have the right to receive data concerning you, which you have
                    provided to
                    us,
                    in a structured, common and machine-readable format in accordance with the legal requirements, or to
                    demand
                    that it be transferred to another person responsible.</li>
                <li>Complaint to the supervisory authority: Without prejudice to any other administrative or judicial
                    remedy,
                    you have the right to lodge a complaint with a supervisory authority, in particular in the Member
                    State
                    of
                    your habitual residence, place of work or place of the alleged infringement, if you consider that
                    the
                    processing of personal data concerning you infringes the requirements of the GDPR.</li>

            </ul>

            <p><a href="https://datenschutz-generator.de/" target="_blank">Created with free Datenschutz-Generator.de by
                    Dr.
                    Thomas Schwenke</a></p>

            <div class="buttons">
                <button mat-stroked-button (click)="closeImprint()">Okay</button>
            </div>
        </div>
    </div>