.buttons{
    display: flex;
    align-items: center;
    gap: 20px
}

.mt-16{
    margin-top: 16px;
}

.mr-16{
    margin-right: 16px;
}

mat-form-field {
    min-width: 90%  ;
}

.title-dialog-guest {
    color: red;
}