.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mt-16{
    margin-top: 16px;
}

.mr-16{
    margin-right: 16px;
}

.title-dialog-guest {
    color: red;
}

.position-input{
    
    @media screen and (max-width: 620px){
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
}

mat-form-field {

    @media screen and (max-width: 620px){
        max-width: 310px;
        width: 100%;
    }
}

h1{
    @media screen and (max-width: 620px){
        text-align: center;
    }
    
}